.currency{
    font-size: 12px;
    font-weight: bold;
    color: red;
}
.list-option {
    display: inline-block;
    margin-right: 15px;
    text-align: center;
}
span.title-option {
    display: table-caption;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
    width: 70px;
    text-align: center;

}
/* Swicher ----------- */
.onoffswitch {
    position: relative; width: 48px;;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 25px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.1s ease-in 0s; -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s; transition: margin 0.1s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #82d2f5; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 2px;
    background-color: #7B818A; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 3px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; border-radius: 25px;
    position: absolute; top: 0; bottom: 0; right: 21px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.1s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.list-option .checkbox, .list-option .radio {
    width: 120px;
    text-align: left;
}
.list-option .radio {
     margin-left: 20px;
 }
.icheckbox_flat {
    float: left;
}
.list-option input[type=radio]{
    float: left;
}
.no-margins{
    margin: 0;
}
.input-group-sm{
    padding-top: 5px;
}
.m-b-0{
  margin-bottom: 0;
}
#droparea{
    border: 4px solid #9f9f9f;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}
.dropping{
    border: 4px dashed #52bdff !important;

    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;

}
#filelist .visu{
    height: 250px;
    overflow: hidden;
    margin-bottom: 5px;
}
#filelist .item {
}
.ui-autocomplete {
    width: 500px !important;
    margin: 20px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.ui-autocomplete li{
    list-style: none;
}
.ui-helper-hidden-accessible{
    position: absolute;
    right: 20px;
    top: 30px;
}
.product-gallery{
    list-style: none;
}
.sub-gallery{
    list-style: none;
    padding: 0;
}
.sub-gallery li{
    display: inline-block;
}
.sub-gallery li.place-holder{
    width: 100px;
    height: 150px;
    border: 1px dashed #9f9f9f;
    background-color: #d8d8d8;
    position: relative;
}
.sub-gallery li.place-holder a{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    width: 50px;
    overflow: hidden;
    margin-left: 3px;
    font-size: 50px;
}
.img-item{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.img-item input{
    position: absolute;
    bottom: 30px;
    left: 10px;
}
.product-group input[type=checkbox]{
    display: none;
}